<h3>{{ 'mailer.forgot_password.title'|trans({},'controller') }}</h3>
<br>
{{ 'mailer.from'|trans({},'controller') }} <b>{{ 'mailer.app_blog'|trans({},'controller') }}</b>
<p>
    {{ 'mailer.forgot_password.content'|trans({},'controller') }}
</p>
<p>
    {{ generatedUrl }}
</p>
<p>
    {{ 'mailer.regards'|trans({},'controller') }}
</p>